html {
    height: 100%;
    box-sizing: border-box;
    min-width: 320px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    background-color: rgb(70, 38, 107);
    color: rgb(226, 226, 226);
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.mainbody {
    position: relative;
    padding-top: 2em;
    margin: 0 auto;
    text-align: center;
}

.inner {
    display: inline-block;
    max-width: 500px;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}

#qa {
    font-size: 18px;
    margin: 50px 0;
}

#question {
    margin-bottom: 2em;
}

#answer,
#reveal {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(200, 200, 200);
    font-size: 16px;
    padding: 20px 10px;
}

.answer-out {
    opacity: 0;
}

.answer-in {
    opacity: 1;
    transition: opacity 1s;
}

#reveal {
    background-color: rgb(31, 10, 56);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    display: none;
}

.btn {
    user-select: none;
    white-space: nowrap;
    background: #34c8db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.personal:link {
    color: #9dd8ff;
    text-decoration: none;
}

.personal:visited {
    color: #9dd8ff;
}

.footer {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #474747;
}

.footer-inner {
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    padding-left: 1em;
    padding-right: 1em;
}


/* Reset Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #f3f3f3;
    background-image: none;
}


/* Remove IE arrow */

select::-ms-expand {
    display: none;
}


/* Custom Select */

.select {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    text-align: center;
    margin-bottom: 20px;
}

select {
    padding: 0 .5em;
    color: #2e2e2e;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}


/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #c9c9c9;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: #585858;
}


/* Transition */

.select:hover::after {
    color: #2e2e2e;
}